extends ./_base/_layout

append vars
  -
    page.id = 'photobooth'
    page.title = ''

block content
  // 生成
  canvas#canvas
  // 初期
  .home.active

    // アップロード
    label#upload_btn_label(for='upload_btn')
      i.material-icons camera_alt
      input#upload_btn(type='file')
    button#settings_btn
      i.material-icons settings
  // セッティング
  .setting
    canvas#canvas_setting

    div
      label#upload_overlay_img(for='upload_overlay_img_btn')
        i.material-icons insert_photo
        input#upload_overlay_img_btn(type='file')
      button#reset_btn
          i.material-icons replay
    
    button#settings_close_btn
      i.material-icons close
  // 生成された
  .generated
    #newImg_block
      #navi 画像長押しで保存
      img#newImg(alt='生成画像')
    #footer_block
      button#retry_btn
        i.material-icons close
