extends ./_base/_layout

append vars
  -
    page.id = 'photobooth'
    page.title = ''

block content
  // 生成
  canvas#canvas
  // 初期
  .home.active

    // アップロード
    label#upload_btn_label(for='upload_btn')
      i.material-icons camera_alt
      input#upload_btn(type='file')
    button#settings_btn
      i.material-icons settings
  // セッティング
  .setting(data-default_overlay_img_path = IMAGES_PATH + "deco_2019_7_10.png" )


    .header
      .header_left
        button#settings_close_btn
          i.material-icons close
        p Setting
      .header_right
        label#upload_overlay_img(for='upload_overlay_img_btn')
          i.material-icons insert_photo
          input#upload_overlay_img_btn(type='file')
        button#reset_btn
            i.material-icons replay
    .imgsize
      div
        p Generated image size
      div
        .input_inline
          | W :
          input#imgWidth(type="number" value="0" min="1000" max="5000" inputmode="numeric")
        .input_inline
          | H :
          input#imgHeight(type="number" value="0" min="1000" max="5000" inputmode="numeric")
      button#reset_wh_btn
            i.material-icons replay
    canvas#canvas_setting

  // 生成された
  .generated
    #newImg_block
      #navi
        p Save images by "long press"
        button#retry_btn
          i.material-icons close
      img#newImg(alt='生成画像')
