include ./_mixins

//- 各 pugページ で設定された値を反映
-
  var page = {}
block vars


doctype html
html(lang = LANG )
  head
    include ../_parts/_head

  body(class= page.id)
    block content
    include ../_parts/_foot